[Unit]
Description=File classifier for downloads
After=default.target
[Service]
Type=oneshot
ExecStart={{HOME_DIR}}/.local/bin/file-classifier {{HOME_DIR}}/Downloads
[Install]
WantedBy=default.target
